/* edituser.css */

.col-sm-8 {
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.input-group {
    margin-bottom: 20px;
}

.input-group-text {
    width: 150px;
    text-align: left;
}

.form-control {
    width: calc(100% - 170px);
}

.btn {
    margin-right: 10px;
}
